### IntelliJ IDEA ###
.idea/
*.iml

# Python
**/__pycache__
**/logs/**/*.log
scripts/**/*.csv
scripts/logs/dag_id=*/
scripts/logs/dag_processor_manager/
scripts/logs/scheduler/

# API Module
**/application-secret.yml

# Bin Module
bin/**/test*.py
bin/logs/*.log

# Web Module
**/build
**/coverage
**/dist
**/node_modules
**/out

# Miscellaneous
**/target/
**/.DS_STORE
**/.env
