body {
    background-color: #201d39;
    margin-bottom: 0;
    margin-top: 0;
}

#root {
    display: flex;
    height: 100vh;
}

.MuiContainer-root {
    display: flex !important;
    flex-direction: column !important;
}

.main-tabs {
    margin-bottom: 2rem;
}

#test {
    padding-bottom: 16px;
}

#test > div {
}
