html {
  height: 100%;
}

html, body, div#root, .fill-height, div:has(> .highcharts-container) {
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
  overflow-y: auto !important;
}
